.colors{
  color: #252DA1;
  color: #161B61;
  color: #3843E0;
  color: #3B47ED;
  color: #323CC7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-m{
  display: none;
}

.first-part{
  color: white;
}
.second-part{
  color: rgb(178, 178, 253);
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #1f2937;
  padding: 8px 100px;
}

nav p{
  display: inline-block;
}

nav h1{
  color: white;
  font-size: 50px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;

  list-style: none;
  color: white;
  font-size: 20px;
}

nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 40px;

  border: 1px #364961 solid;
  background-color: #2f3641;
  border-radius: 30px;

  /*to make the user no capable of select the text
  this will make everything look cleaner*/
  user-select: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

nav ul li:hover{
  transition: 1s;
  background-color: rgb(149, 169, 255);
}

.content{
  display: flex;
  flex-direction: column;

  background-color: #cfd1e9;
  height: 100vh;
}

@media (max-width: 1235px) {
  nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 0px;
    margin: 0px;
  }

  nav ul{
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
  }
}

@media (max-width: 640px) {
  nav ul li{
    display: flex;
    flex: 1;
  }
}

@media (max-width: 450px) {
  nav ul{
    display: none;
  }

  #hamburger-m{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 0;
  }

  #hamburger-m p{
    background-color: #afb3f8;
    padding: 25px 15px;
    margin: 10px;
    border-radius: 100px;

    font-size: 18px;
    border: 2px #161B61 dotted;
  }

  #hamburger-m p:active{
    background-color: red;
  }

  #h-submenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #858bf3;

    position: fixed;
    bottom:  0;
    right: -127px;
    height: 100%;

    list-style: none;
    text-align: center;
    
    border-left: 1px black solid;

    transition: 2sg;
  }

  #h-submenu li{
    width: 100%;
    padding: 10px 5px;

    color: white;
    border-top: 1px #003b9b solid;
    font-weight: 600;


    transition: 2sg;
  }

}